<% provide(:title, "Change Password") %>
<h1 class="center">Change Password</h1>

<%= render 'shared/form_container' do %>
  <%= form_for(@user, url: change_password_user_path(@user)) do |f| %>
    <%= render partial: 'shared/error_messages' %>

    <%= f.label :current_password %>
    <%= f.password_field :current_password, class: "form-control" %>

    <%= f.label :password, "New Password" %>
    <%= f.password_field :password, class: "form-control" %>

    <%= f.label :password_confirmation, "New Password Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>

    <%= f.submit "Change Password", class: "btn btn-primary" %>
  <% end %>
<% end %>