<% provide(:title, "Users") %>
<h1>Users</h1><br>
<% if params[:manage] %>
  <p><%= link_to "Regular View", users_path, class: "admin-link" %></p>
<% else %>
  <p><%= link_to "Manage Users", users_path(manage: true), class: "admin-link" %></p>
<% end %>

<%= will_paginate %>

<table class="users">
  <%= render @users %>
</table>

<%= will_paginate %>